.btn-1 {
    color: white;
    background-color: #204051;
}

.btn-1:hover {
    background-color: rgb(32, 64, 81, 0.6);
    color: white;
}

.btn-2 {
    color: white;
    background-color: #3b6978;
}

.btn-2:hover {
    background-color: rgb(59, 105, 120, 0.6);
    color: white;
}

/* Style for printer */

.title-romaneio {
    font-size: 4.2rem;
    line-height: 110%;
    color: #333333;
}

.subtitle-romaneio {
    font-size: 2.2rem;
    line-height: 110%;
    color: #333333;
}

.table-romaneio {
    font-size: 1.6rem;
    line-height: 110%;
    color: #333333;
}

@media print {
    .noprint {
        display: none;
    }
}

